:root {
  --green: #16a85c;
  --bg: #dcf7da;
  --shadow: 0 2px 2px rgba(0 0 0/0.3);
}

@font-face {
  font-family: "Apple Garamond";
  src: url(assets/fonts/apple/AppleGaramond.woff) format("woff");
}

@font-face {
  font-family: "Suisse";
  src: url(assets/fonts/suisse/SuisseIntl-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Suisse_bold";
  src: url(assets/fonts/suisse/SuisseIntl-Bold.otf) format("opentype");
}

html {
  font-family: "Suisse";
  font-size: 1rem;
}

.navbar .container-fluid,
.banner .container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

.logo-ipmaras {
  height: 30px;
}

.navbar {
  background-color: var(--bg);
  color: black;
  /* height: 90px; */
}

.navbar .btn {
  background-color: #01b679;
  border-radius: 50px;
  border: none;
  font-family: "Suisse";
  font-size: 16pt;
  margin-block: 10px;
}

.mynavbar {
  /* background-color: rgba(255, 255, 255, 0.3) !important; */
  backdrop-filter: blur(4px);
}

.navbar .navbar-nav {
  padding-top: 4px;
  font-family: "Suisse";
  font-size: 16pt;
  font-weight: bold;
}

.nav-link {
  color: black;
  font-family: "Suisse";
  font-size: 16pt;
  margin-left: 1.2rem;
}

.banner {
  /* background: linear-gradient(
    to bottom right,
    #dbc9ff,
    #f7dbe3,
    #01b679,
    #91a8b3,
    #f1601e
  ); */
  position: relative;
  font-family: "Apple Garamond";
  min-height: 100vh;
  padding-top: 61px;
  padding-bottom: 4rem;
  offset-position: top;
}

.banner #image {
  width: 100;
  position: relative;
}

.banner h1 {
  color: black;
  font-size: 85pt;
  font-family: "Apple Garamond";
  letter-spacing: normal;
  line-height: 1;
  padding-top: 61px;
  padding-bottom: 26px;
}

.banner P {
  color: black;
  font-size: 16pt;
  font-family: "Suisse";
  padding-top: 26px;
}

.banner img {
  justify-content: center;
  /* display: flex;
  position: relative;
  object-position: center; */
  height: 97%;
  padding-left: 30px;
  /* object-fit: cover; */
}

.santunan a {
  background-color: var(--bg);
  color: #16a85c;
  box-shadow: var(--shadow);
}

.santunan a:hover {
  background-color: #16a85c;
  color: var(--bg);
  border: 1px solid var(--bg);
}

.santunan {
  background-color: var(--bg);
  min-height: 100vh;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.santunan .btn {
  background-color: var(--green);
  color: var(--bg);
  font-size: 16pt;
  font-family: "suisse";
}

.santunan .btn:hover {
  background-color: var(--bg);
  color: var(--green);
  font-size: 16pt;
  font-family: "suisse";
}

.card {
  background-color: var(--green);
  color: var(--bg);
  padding: 1rem;
  box-shadow: var(--shadow);
}

.card .card-header {
  font-family: "Suisse";
  font-size: 1.4rem;
}

.santunan .card .card-body h5 {
  font-family: "Apple Garamond";
  color: black;
  font-size: 4rem;
}

.santunan .card .card-body a {
  background-color: var(--bg);
  color: var(--green);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  border: 1px solid var(--bg);
}

.santunan .card .card-body a:hover {
  background-color: black;
  color: var(--bg);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  border: 1px solid var(--bg);
}

.santunan .btn {
  box-shadow: var(--shadow);
}

.santunan .card .card-footer p {
  font-family: "Suisse";
  color: var(--bg);
  padding-top: 0.5rem;
}

.card .bank {
  width: 80px;
}

.donasi {
  min-height: 100vh;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.donasi .card-body h5 {
  font-size: 2rem;
  font-family: "Suisse";
}

.donasi .card .card-body p {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.donasi .card-footer {
  font-size: 1rem;
  font-family: "Suisse";
}

.footer .info img {
  width: 150px;
  position: relative;
  align-items: center;
}

.footer {
  font-family: "Suisse";
  font-size: 1rem;
  background-color: var(--bg);
}

/* Media Queries */
/* Extra large */
@media (max-width: 1200px) {
  html {
    font-size: 80%;
  }
}
/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 50px;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 5px;
  }
}

/* Phone */
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
  .banner,
  .santunan,
  .donasi {
    min-height: 50vh;
  }
  .simply-countdown > .simply-section {
    padding: 30px;
    margin: 5px;
  }
  .donasi .card-footer {
    font-size: 1rem;
  }
  .footer .info img {
    width: 50%;
  }
  .navbar .nav-link {
    font-size: 80%;
  }
  .navbar .btn {
    font-size: 200%;
  }
}
