:root {
  --green: #16a85c;
  --bg: #dcf7da;
  --shadow: 0 2px 2px rgba(0 0 0/0.3);
}

@font-face {
  font-family: "Apple Garamond";
  src: url(assets/fonts/apple/AppleGaramond-Bold.woff) format("woff");
}

@font-face {
  font-family: "Suisse";
  src: url(assets/fonts/suisse/SuisseIntl-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Suisse";
  src: url(assets/fonts/suisse/SuisseIntl-Regular.otf) format("opentype");
}

html {
  font-family: "Suisse";
  font-size: 1rem;
}

.logo-ipmaras {
  width: 120px;
}

.navbar {
  background-color: var(--bg);
  color: black;
}

.navbar .btn {
  background-color: #01b679;
  border-radius: 50px;
  border: none;
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(4px);
}

.navbar .navbar-nav {
  padding-top: 4px;
  font-family: "Suisse";
  font-size: 1rem;
  font-weight: bold;
}

.nav-link {
  color: black;
  font-family: "Suisse";
  font-size: 1rem;
  margin-left: 1.2rem;
}

.banner {
  background: linear-gradient(
    to bottom right,
    #dbc9ff,
    #f7dbe3,
    #01b679,
    #91a8b3,
    #f1601e
  );
  font-family: "Apple Garamond";
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.banner #image {
  width: 20%;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.banner h1 {
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3rem;
  font-family: "Apple Garamond";
}

.banner h2 {
  color: black;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.banner P {
  color: black;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Suisse";
}

.banner a {
  background-color: var(--bg);
  color: #16a85c;
  box-shadow: var(--shadow);
}

.banner a:hover {
  background-color: #16a85c;
  color: var(--bg);
  border: 1px solid var(--bg);
}

.santunan {
  background-color: var(--bg);
  min-height: 100vh;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.card {
  background-color: var(--green);
  color: var(--bg);
  padding: 1rem;
  box-shadow: var(--shadow);
}

.card .card-header {
  font-family: "Suisse";
  font-size: 1.4rem;
}

.santunan .card .card-body h5 {
  font-family: "Apple Garamond";
  color: black;
  font-size: 4rem;
}

.santunan .card .card-body a {
  background-color: var(--bg);
  color: var(--green);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  border: 1px solid var(--bg);
}

.santunan .card .card-body a:hover {
  background-color: black;
  color: var(--bg);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  border: 1px solid var(--bg);
}

.santunan .btn {
  box-shadow: var(--shadow);
}

.santunan .card .card-footer p {
  font-family: "Suisse";
  color: var(--bg);
  padding-top: 0.5rem;
}

.card .bank {
  width: 80px;
}

.donasi {
  min-height: 100vh;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.donasi .card-body h5 {
  font-size: 2rem;
  font-family: "Suisse";
}

.donasi .card .card-body p {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.donasi .card-footer {
  font-size: 1rem;
  font-family: "Suisse";
}

.footer .info img {
  width: 155px;
  position: relative;
  align-items: center;
}

.footer {
  font-family: "Suisse";
  font-size: 1rem;
  background-color: var(--bg);
}

/* Media Queries */
/* Extra large */
@media (max-width: 1200px) {
  html {
    font-size: 80%;
  }
}
/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 50px;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 5px;
  }
}

/* Phone */
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
  .banner,
  .santunan,
  .donasi {
    min-height: 50vh;
  }
  .simply-countdown > .simply-section {
    padding: 30px;
    margin: 5px;
  }
  .donasi .card-footer {
    font-size: 1rem;
  }
  .footer .info img {
    width: 90px;
  }
}
